/* MENÚ SUPERIOR */
.menu {
    background-color: rgb(60, 60, 60);
    height: 6em;
    margin-bottom: 2em;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-image: url('planeta.png');
    background-repeat: no-repeat;
    background-size: 4em;
    padding: 0.5em;
    box-sizing: border-box;
    background-position: left center;
    background-origin: content-box;
    background-size: contain;
    padding: 1em;
    display: grid; /* Cambiamos flex a grid */
    grid-template-columns: auto 1fr; /* Dos columnas, la primera del tamaño automático y la segunda que ocupa el resto del espacio */
    align-items: center; /* Centrar verticalmente los elementos */
    min-width: 200px;
}

/* .opcionesmenu:last-child {
    visibility: hidden;
} */

.menu:hover {
    background-image: url("meteorito.png");
}









/* Desplegable con opciones de prueba */
.botondesplegable {
    background-color: #ecaaec;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .botondesplegable:hover, .botondesplegable:focus {
    background-color: #eecdee;
  }
  
  #miInput {
    box-sizing: border-box;
    /* background-image: url('busqueda.png'); */
    /* background-position: 14px 12px; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #miInput:focus {outline: 3px solid #ddd;}
  
  .desplegable {
    /* position: relative; */
    /* float: right; */
    grid-column: 2; /* Colocamos el desplegable en la segunda columna del grid */
    text-align: right;
    
    /* display: inline-block; */
  }
  
  .contenidoDelDesplegable {
    display: none;
    /* position: relative; */
    float: left;/*////////////////////////////////////////////////////////////////////////////////////*/
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;

    grid-column: 2; /* Colocamos el desplegable en la segunda columna del grid */
    text-align: right;
  }
  
  .contenidoDelDesplegable a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .desplegable a:hover {background-color: #ddd;}
  
  .show {display: block;}













/* CONTENEDOR PRINCIPAL DEL CONTENIDO DE LA WEB */
.container {
    border: 0.1rem solid black;
    width: 100%;
    height: fit-content;
    min-height: 40em;
    position: relative;
    box-sizing: border-box;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 1em; */
    /* min-width: 200px; */
}






/* SUBCONTENEDORES */
div>h2 {
    text-align: center;
}

h2, h2+ul {
    color: white;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subcontainer {
    width: 100%; /* Modificado para que ocupe todo el ancho del contenedor principal */
    border-left: 0;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: x-large;
    
}

div [class^="subcontainer"]>ul>li:last-of-type {
    font-style: italic;
}

/* Estilos diferentes por cada subcontenedor */
.subcontainer1 {
    background-color: rgb(205, 119, 217);
    padding: 0.5em;
}

.subcontainer2 {
    background-color: rgb(138, 74, 218);
    padding: 0.5em;
}

.subcontainer3 {
    background-color: rgb(118, 154, 131);
    padding: 0.5em;
}

.subcontainer4 {
    background-color: rgb(239, 229, 240);
    color: rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    position: relative;
    height: fit-content;
}

/* BUSCADOR */
.subcontainer4 #buscador1 {
    height: 2em;
    width: 100%; /* Cambiado al 100% para ocupar todo el ancho del subcontenedor 4 */
    margin-bottom: 1em;
    display: flex;
    margin-top: 2em;
}

.subcontainer4 #buscador1 img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    align-self: center;
}

.subcontainer4 #buscador1 form {
    width: 100%;
}

.subcontainer4 #buscador1 #buscador2 {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

/* ICONOS DEL SUBCONTENEDOR 4 */
.container .subcontainer4 .linksinternos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container .subcontainer4 .linksinternos>a {
    height: 4vw;
    width: 4vw;
    margin: 4vw;

    background-size: contain;
}

/* Estilos sobre cada icono */
.container .subcontainer4 .linksinternos #link1 {
    background-image: url("usuarios.png");
    background-repeat: no-repeat;
}

.container .subcontainer4 .linksinternos #link2 {
    background-image: url("grafico.png");
    background-repeat: no-repeat;
}

.container .subcontainer4 .linksinternos #link3 {
    background-image: url("basura.png");
    background-repeat: no-repeat;
}

.container .subcontainer4 .linksinternos [id^="link"]:hover {
    filter: drop-shadow(0px 0px 15px black);
}

/* CALENDARIO */
.contenedorcalendario {
    margin-top: auto; 
    position: relative;
    top: 100%; /* Posicionamos el calendario debajo de los links internos */
    text-align: center;
    padding: 1em;
    padding-bottom: 2em;
    box-sizing: border-box;

    
}

.contenedorcalendario img {
    width: 100%;
    height: 100%; /* Ajustamos la altura a fit-content */
}


/* MENÚ INFERIOR */
.menu2 {
    background-color: rgb(60, 60, 60);
    height: 8em;
    margin-top: 2em;
    width: 100%;
    /* background-image: url('planeta.PNG');                                                SOLO SALGA EN DISPOSITIVOS GRANDES*/        
    background-repeat: no-repeat;
    padding: 1.5em;
    box-sizing: border-box;
    background-origin: content-box;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

  



    .menu2 li{     /* Estilos aplicados sobre la lista dentro del menú inferior */
        color: white;
        /* padding-left: 8rem; */
        list-style: none;
        line-height: 1.5;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .menu2 .redessociales    /* Estilos aplicados sobre los iconos de redes sociales del menú inferior */
    {
        display:flex;     /* Volvemos a usar display flex para distribuir los demás elementos dentro de este contenedor, el este caso los iconos de las redes sociales */
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: center; /* Centra horizontalmente los iconos */
        align-items: center;
        width: 100%;
        margin-top: 1em;
    }

    .menu2 .redessociales a    /* Estilos comunes de todos los enlaces (de los iconos) */
    {
        background-repeat: no-repeat;
        height: 2em;
        width: 2em;
        background-size: contain; 
        margin:0.3em;
    }

    /* cada una de las imagenes de los logos como imagen de fondo */
    .menu2 .redessociales #facebook
    {
        background-image: url("facebook.png");
    }



    .menu2 .redessociales #instagram
    {
        background-image: url("instagram.png");
    }


    .menu2 .redessociales #linkedin
    {
        background-image: url("linkedin.png");
    }
    
    .menu2 .direcciones{

        width: 100%;
        text-align: center;
    }
/* 
    .menu2 .direcciones > ul{

      margin-left: 0;
    } */
    

    @media all and (min-width: 320px){ /*tablet*/

        .container {
          
            grid-template-columns: 1fr 1fr;
     
        }
        

        .subcontainer1 {
            
            padding: 0.25em;
            
       }
        
        .subcontainer2 {
            padding: 0.25em;
        }
        
        .subcontainer3 {
            padding: 0.25em;
        }
        
        .subcontainer4 {
            
            
            padding: 0.25em;
            min-height: 800px;
          
        }
       


        .contenedorcalendario {
         /* bottom: 1em; */
         /* margin-top: auto;  */
         
         /* top: 15%;  */
         
         
         /* padding-bottom: 2em; */



         position: relative;
         top:0em;
         /* left:50%; */
         text-align: center;
         padding: 1em;
         box-sizing: border-box;
     



         /* margin-top: auto;
         position: absolute;
         bottom: 3rem; */
            
        }


        .container .subcontainer4 .linksinternos {
          
            margin-bottom: 1em; /* Ajusta el margen inferior para reducir el espacio */
        }

    }


    @media all and (min-width: 768px){ /*ordenadores*/

        .container {
          
            /* grid-template-columns: repeat (4, 1fr); */
            grid-template-columns: 1fr 1fr 1fr 1fr;
     
        }
        
        .container .subcontainer4 .linksinternos>a {
            height: 2vw;
            width: 2vw;
            margin: 1vw;
        }

        /* .contenedorcalendario {
       
            margin-top: auto;
            position: absolute;
            bottom: 3rem;
               
           } */



           .menu2{     /* Propiedades de todo en menú inferior */
      
            background-image: url('planeta.PNG');     /* Ponemos el logo como imagen de fondo */
            justify-content: flex-end;
  
        }
    
        .menu2 li{     /* Estilos aplicados sobre la lista dentro del menú inferior */
            padding-left: 8rem;
           
        }

        .menu2 .redessociales    /* Estilos aplicados sobre los iconos de redes sociales del menú inferior */
        {
            display:flex;     /* Volvemos a usar display flex para distribuir los demás elementos dentro de este contenedor, el este caso los iconos de las redes sociales */
            flex-direction: row-reverse;
            flex-wrap: nowrap;


            display:flex;     /* Volvemos a usar display flex para distribuir los demás elementos dentro de este contenedor, el este caso los iconos de las redes sociales */
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            justify-content: flex-start; /* Centra horizontalmente los iconos */
            align-items: center;
            /* align-content: center; */
            width: 25%;
            margin-top: 0;
            /* text-align: right; */
        }

        .menu2 .direcciones{

            width: 70%;
            text-align: center;
            /* justify-content: center; */
        }
    }