/* MENÚ SUPERIOR */

body{
    min-width: 210px;
}
.menu {
    background-color: rgb(60, 60, 60);
    height: 6em;
    margin-bottom: 2em;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-image: url('planeta.png');
    background-repeat: no-repeat;
    background-size: 4em;
    padding: 0.5em;
    box-sizing: border-box;
    background-position: left center;
    background-origin: content-box;
    background-size: contain;
    padding: 1em;
    display: grid; /* Cambiamos flex a grid */
    grid-template-columns: auto 1fr; /* Dos columnas, la primera del tamaño automático y la segunda que ocupa el resto del espacio */
    align-items: center; /* Centrar verticalmente los elementos */
    min-width: 200px;
}

.menuopcion2 {
    display: none;
}

/* .opcionesmenu:last-child {
    visibility: hidden;
} */

.menu:hover {
    background-image: url("meteorito.png");
}









/* Desplegable con opciones de prueba */
.botondesplegable {
    background-color: #ecaaec;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   
  }
  
  .botondesplegable:hover, .botondesplegable:focus {
    background-color: #eecdee;
  }
  
  #miInput {
    box-sizing: border-box;
    /* background-image: url('busqueda.png'); */
    /* background-position: 14px 12px; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #miInput:focus {outline: 3px solid #ddd;}
  
  .desplegable {
    /* position: relative; */
    /* float: right; */
    /* grid-column: 2; Colocamos el desplegable en la segunda columna del grid */
    text-align: right;
    grid-area: sidebar;
    /* grid-column-start: 1;
  grid-column-end: 3; */

    max-width: 150px;
    /* display: inline-block; */
  }
  
  .contenidoDelDesplegable {
    display: none;
    position: relative;
    /* top:16%; */
    /* width: 25%; */
    /* left:48%; */
    /* float: left; */
    /*////////////////////////////////////////////////////////////////////////////////////*/
    background-color: #f6f6f6;
    /* min-width: 30px; */
    /* max-width: 100px; */
    overflow: hidden;
    border: 1px solid #ddd;
    z-index: 1;

    /* grid-column: 2; Colocamos el desplegable en la segunda columna del grid */
    text-align: right;
    
  }
  
  .contenidoDelDesplegable a {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #713b71;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .desplegable a:hover {background-color: #ddd;}
  
  .show {display: block;}













/* CONTENEDOR PRINCIPAL DEL CONTENIDO DE LA WEB */
.container {
    border: 0.1rem solid black;
    width: 100%;
    height: fit-content;
    min-height: 30em;
    position: relative;
    box-sizing: border-box;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 1em; */
    /* min-width: 200px; */
}






/* SUBCONTENEDORES */
div>h2 {
    text-align: center;
}

h2, h2+ul {
    color: white;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subcontainer {
    width: 100%; /* Modificado para que ocupe todo el ancho del contenedor principal */
    border-left: 0;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: x-large;
    
}

div [class^="subcontainer"]>ul>li:last-of-type {
    font-style: italic;
}

/* Estilos diferentes por cada subcontenedor */
.subcontainer1 {
    background-color: rgb(205, 119, 217);
    padding: 0.5em;
}




.subcontainer2 {
    background-color: rgb(138, 74, 218);
    /* padding: 0.5em; */
    display: flex;
    /* justify-content: center; */
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;

}

.video1 {
    max-width: 100%; /* Ajusta el ancho máximo del contenedor de video */
    height: auto; /* Hace que la altura se ajuste automáticamente manteniendo la proporción del video */
    padding: 1em;
    box-sizing: border-box;
}


.subcontainer3 {
    background-color: rgb(118, 154, 131);
    /* padding: 0.5em; */

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

.video2 {
    max-width: 100%; /* Ajusta el ancho máximo del contenedor de video */
    height: auto; /* Hace que la altura se ajuste automáticamente manteniendo la proporción del video */
    padding: 1em;
    box-sizing: border-box;
}


.subcontainer4 {
    /* background-color: rgb(239, 229, 240);
    color: rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    position: relative;
    height: fit-content; */


    background-color: rgb(239, 229, 240);
    color: rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    position: relative; /* Agrega una posición relativa al subcontenedor 4 */
    height: fit-content;
}

/* BUSCADOR */
.subcontainer4 #buscador1 {
    height: 2em;
    width: 100%; /* Cambiado al 100% para ocupar todo el ancho del subcontenedor 4 */
    margin-bottom: 1em;
    display: flex;
    margin-top: 2em;
}

.subcontainer4 #buscador1 img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    align-self: center;
}

.subcontainer4 #buscador1 form {
    width: 100%;
}

.subcontainer4 #buscador1 #buscador2 {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

/* ICONOS DEL SUBCONTENEDOR 4 */
.container .subcontainer4 .linksinternos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container .subcontainer4 .linksinternos>a {
    height: 8vw;
    width: 8vw;
    margin: 4vw;

    background-size: contain;
}

/* Estilos sobre cada icono */
.container .subcontainer4 .linksinternos #link1 {
    background-image: url("usuarios.png");
    background-repeat: no-repeat;
}

.container .subcontainer4 .linksinternos #link2 {
    background-image: url("grafico.png");
    background-repeat: no-repeat;
}

.container .subcontainer4 .linksinternos #link3 {
    background-image: url("basura.png");
    background-repeat: no-repeat;
}

.container .subcontainer4 .linksinternos [id^="link"]:hover {
    filter: drop-shadow(0px 0px 15px black);
}

.audiodiv {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1em;
}

.audio {
    max-width: 100%; /* Ajusta el ancho máximo del audio */
    width: 100%; /* Asegura que el audio ocupe el 100% de su contenedor */
}



/* CALENDARIO */
.contenedorcalendario {
    width: 90%;
    height: 10em; 
    margin-top: 3em; 
    background-image: url("frasemotivacional.png");
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center center;
    
}



/* MENÚ INFERIOR */
.menu2 {
    background-color: rgb(60, 60, 60);
    height: 8em;
    margin-top: 2em;
    width: 100%;
    /* background-image: url('planeta.PNG');                                                SOLO SALGA EN DISPOSITIVOS GRANDES*/        
    /* background-repeat: no-repeat; */
    padding: 1.5em;
    box-sizing: border-box;
    /* background-origin: content-box; */
    /* background-size: contain; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

  



    .menu2 li{     /* Estilos aplicados sobre la lista dentro del menú inferior */
        color: white;
        /* padding-left: 8rem; */
        list-style: none;
        line-height: 1.5;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .menu2 .redessociales    /* Estilos aplicados sobre los iconos de redes sociales del menú inferior */
    {
        display:flex;     /* Volvemos a usar display flex para distribuir los demás elementos dentro de este contenedor, el este caso los iconos de las redes sociales */
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: center; /* Centra horizontalmente los iconos */
        align-items: center;
        width: 100%;
        margin-top: 1em;
    }

    .menu2 .redessociales a    /* Estilos comunes de todos los enlaces (de los iconos) */
    {
        background-repeat: no-repeat;
        height: 2em;
        width: 2em;
        background-size: contain; 
        margin:0.3em;
    }

    /* cada una de las imagenes de los logos como imagen de fondo */
    .menu2 .redessociales #facebook
    {
        background-image: url("facebook.png");
    }



    .menu2 .redessociales #instagram
    {
        background-image: url("instagram.png");
    }


    .menu2 .redessociales #linkedin
    {
        background-image: url("linkedin.png");
    }
    
    .direcciones > ul{
        margin:auto;
        /* width: 100%; */
        text-align: center;
        /* color:#ecaaec; */
        padding: 1em;
        
    }
/* 
    .menu2 .direcciones > ul{

      margin-left: 0;
    } */
    

    @media all and (min-width: 320px){ /*tablet*/

        .container {
          
            grid-template-columns: 1fr 1fr;
     
        }
        

        .subcontainer1 {
            
            padding: 0.25em;
            
       }
        
        .subcontainer2 {
            padding: 0.25em;
        }
        
        .subcontainer3 {
            padding: 0.25em;
        }
        
        .subcontainer4 {
            
            
            padding: 0.25em;
            min-height: 800px;
          
        }

        .video1 {
           display: none;
        }

        .video2 {
            display: none;
        }
       
        .menuopcion2 {
            display: none;
        }

        .contenedorcalendario {
        
         /* background-position: center;

         background-image: url("calendario2.jpg");
 */
            background-image: url("calendario2.jpg");
            width: 90%;
            height: 15em; 

            
        }


        .container .subcontainer4 .linksinternos {
          
            margin-bottom: 1em; /* Ajusta el margen inferior para reducir el espacio */
        }

    }


    @media all and (min-width: 768px){ /*ordenadores*/

        .container {
          
            /* grid-template-columns: repeat (4, 1fr); */
            grid-template-columns: 1fr 1fr 1fr 1fr;
     
        }
        
        .container .subcontainer4 .linksinternos>a {
            height: 2vw;
            width: 2vw;
            margin: 1vw;
        }

        /* .contenedorcalendario {
       
            margin-top: auto;
            position: absolute;
            bottom: 3rem;
               
           } */


           .video1 {
            display:block;
         }
 
         .video2 {
             display: block;
         }
           .menu2{     /* Propiedades de todo en menú inferior */
      
            /* background-image: url('planeta.PNG');     Ponemos el logo como imagen de fondo */
            /* justify-content: flex-end; */

       

            animation-name: MiAnimacion;
			animation-duration: 7s;
            animation-iteration-count: infinite;
            animation-direction: alternate; 
            animation-fill-mode: both;
  
        }

        .meteorito{
            width: 6em;
            height: 6em;

            /* background-color: #713b71; */
            position: absolute;
            left: 4em;
            background-image: url('planeta.PNG');
            background-repeat: no-repeat;
            background-size: contain;

            

        

            animation-name: ballmove;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;				
            animation-fill-mode:forwards;
            animation-direction: alternate;	
        }

        @keyframes ballmove {
            0% {transform: translateX(0) rotate(0);}				
            100% {transform: translateX(200px) rotate(2turn);}
        }

        @keyframes MiAnimacion {
			0% { background-color: rgb(60, 60, 60); }
            50% { background-color:#713b71; }
            100% { background-color: rgb(60, 60, 60); }
		}
    

        .menu2 .redessociales    /* Estilos aplicados sobre los iconos de redes sociales del menú inferior */
        {
            display:flex;     /* Volvemos a usar display flex para distribuir los demás elementos dentro de este contenedor, el este caso los iconos de las redes sociales */
            flex-direction: row-reverse;
            flex-wrap: nowrap;


            justify-content: center; /* Centra horizontalmente los iconos */
            align-items: center;
            /* align-content: center; */
            width: 25%;
            margin-top: 0;
            /* text-align: right; */
        }

        .menu2 .direcciones{

            width: 70%;
            text-align: center;
            /* justify-content: center; */
        }

        .menuopcion2 {
            display: block;
            
        background-color: rgb(60, 60, 60);
        height: 6em;
        margin-bottom: 2em;
        position: sticky;
        top:0px;
        z-index: 1;    /* Para que se mantenga la capa por encima de las demás */
        background-image: url('planeta.png');     /* El logo principal como imagen de fondo */
        background-repeat: no-repeat;
        background-size: 4em;
        padding: 0.5em;
        box-sizing: border-box;    /* Para que no desborde, cuenta el padding y border como parte de la medida total del contenedor. */
        background-position: left center;
        background-origin: content-box;     /* La imagen se posicione desde el contenido */
        background-size: contain;
        padding:1em;
    
        }


        .menu{
            display: none;
        }



    .opcionesmenu:last-child     /* Una opción del menú que esté pero no se vea */
    {
        visibility: hidden;
    }
        

    .menuopcion2:hover{ /* Cuando se posicione el ratón sobre el menú se cambia el logo */
        background-image: url("meteorito.png"); 
    }


    .opcionesmenu a        /* Estilo para los links del menú superior */
    {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 1.5em;         
        padding-right: 1.5em;
        float: right;        /* Para que se alineen a la derecha usamos la propiedad float */
        text-decoration:none;   
                     
    }

    .opcionesmenu a:link 
    {
        color: white;
    }

    .opcionesmenu a:visited 
    {
        color: rgb(205, 119, 217);
    }

    .contenedorcalendario {
     
        background-image: url("Captura.PNG");
       
           
       }

       .container .subcontainer4 .linksinternos {
      margin-top: 1em;
    }
    }